<h2>Game Scores</h2>

<%= form_for @score do |f| %>
  <div class="field">
    <%= f.hidden_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :press_name, "Press name: " %>
    <%= text_field_with_auto_complete :score, :press_name, { :size => 20 }, { :url => press_index_path(), :method => :get, :param_name => 'search' } %>
  </div>
  <div class="field">
    <%= f.label :score, "Score: " %>
    <%= f.text_field :score, :size => 5 %>
  </div>
  <div>
    <%= f.label :url, "Review URL: " %>
    <%= f.text_field :url %>
  </div>
  <%= f.submit "Submit" %>
<% end %>