<h2>Game Awards</h2>

<%= form_for @award do |f| %>
  <div class="field">
    <%= f.hidden_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :press_name, "Press name: " %>
    <%= text_field_with_auto_complete :award, :press_name, { :size => 20 }, { :url => press_index_path(), :method => :get, :param_name => 'search' } %>
  </div>
  <div class="field">
    <%= f.label :description, "Award: " %>
    <%= f.text_field :description %>
  </div>
  <%= f.submit "Submit" %>
<% end %>