<h2>Game Scores</h2>

<%= form_for @game do |f| %>
  <div class="field">
    <%= f.label :press_names %>
    <%= text_field_with_auto_complete :game, :press_names, {}, { :url => press_index_path(), :method => :get, :param_name => 'search' } %>
  </div>
  <div class="field">
    <%= f.label :scores %>
    <%= f.text_field :scores %>
  </div>
  <%= f.submit "Submit" %>
<% end %>