<table>
  <tr>
    <td>
      <strong>#</strong>
    </td>
    <td>
      <strong><%= link_to "Title", { :action => 'order_games_list', :order => 'main_title' }, :remote => true %></strong>
    </td>
    <td>
      <strong><%= link_to "Platform", { :action => 'order_games_list', :order => 'platform_id' }, :remote => true %></strong>
    </td>
    <td>
      <strong><%= link_to "Release", { :action => 'order_games_list', :order => 'release_date' }, :remote => true %></strong>
    </td>
  </tr>
  <% i = 1 %>
  <% for game in @games %>
    <tr>
      <td><%= i %></td>
      <td><%= link_to game.full_title_limit, game_path(game.id) %></td>
      <td><%= game.platform.short_name.upcase %></td>
      <td><%= link_to game.release_date, year_path(game.r_y) %></td>
    </tr>
    <% i += 1 %>
  <% end %>
</table>
