<%#*<span class="left_month_arrow"><%= (image_tag "go-next.png", :size => "12x12", :alt => "<") %><%#</span>%>
<% @day_text = "" %>
<table cellspacing="10px">
  <tr>
    <% for @day in @month %>
      <% if @day.class == Array %>
        <td class="day_display round<%= ' unreleased' if cur_date_all(@year, @m, @day_text) > Date.today %>" <%= "id=#{@day_text}" %>>
          <%= render 'day_view' %>
        </td>
      <% else %>
        <% @day_text = @day %>
      <% end %>
    <% end %>
  </tr>
</table>
<%#*<span class="right_month_arrow"><%= (image_tag "go-prev.png", :size => "12x12", :alt => ">") %><%#</span>%>