<h2>New Game</h2>

<%= form_for(@game, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :main_title %><br />
    <%= f.text_field :main_title %>
  </div>
  <div class="field">
    <%= f.label :sub_title %><br />
    <%= f.text_field :sub_title %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.date_select :release_date, { :default => @date, :start_year => 1975, :end_year => last_year } %>
  </div>
  <div class="field">
    <%= f.label :platform_id %><br />
    <%= f.select(:platform_id, @platforms.collect { |p| [p.name, p.id] }) %>
  </div>
  <div class="field">
    <%= f.label :market_id %><br />
    <%= f.select(:market_id, @markets.collect { |m| [m.name, m.id] }) %>
  </div>
  <div id="rating">
    <%= f.label :rating_id %><br />
    <%= f.select(:rating_id, [["Select one", ""]] + @ratings.collect { |r| [r.name, r.id] }) %>
  </div>
  <div id="developers">
    <div class="field">
      <%= f.label :developer_ids, "Developer" %>
      <span class="add_another"><%= link_to "Another Developer", { :action => 'new_game_add_developer' }, :remote => true %></span><br />
      <%= select_tag("developer_ids[]", options_for_select([["Select one", ""]] + @developers.collect { |d| [d.name, d.id] })) %>
    </div>
  </div>
  <div id="publishers">
    <div class="field">
      <%= f.label :publisher_ids, "Publisher" %>
      <span class="add_another"><%= link_to "Another Publisher", { :action => 'new_game_add_publisher' }, :remote => true %></span><br />
      <%= select_tag("publisher_ids[]", options_for_select([["Select one", ""]] + @publishers.collect { |p| [p.name, p.id] })) %>

    </div>
  </div>
  <div class="field">
    <%= f.label :boxart, "Boxart" %><br />
    <%= f.file_field :boxart %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
  <%= link_to "Add new developer", new_developer_path %>
  <%= link_to "Add new publisher", new_publisher_path %>
<% end %>