<div id="year_filter">
  <span class="year_display"><%= @year %></span>
  <span class="view_month">
    <%= check_box_tag "year_show_all"+@year.to_s, 1, false, :class => @year.to_s, :onclick => "yearShowAll(this, 0)"  %>
    <%= "Show All" %>
  </span>
  <span class="platforms_month">
    <%= link_to 'Year Filters', "#general_filters" %>
  </span>
</div>
<% @developers_year = []; @publishers_year = [] %>
<% unless @games.empty? %>
  <% @m = 0; m2 = "" %>
  <% for @month in @months %>
    <% if @month.class == Array %>
      <div id="month<%= m2 %>" class="month_display<%= ' current_month' if cur_date_year_month(@year, @m) == Date.today %>">
        <%= render 'month_view' %>
      </div>
    <% else %>
      <% @m = @month.to_i; m2 = @month %>
      <div>
        <% current = true if cur_date_year_month(@year, @m) == Date.today %>
        <div class="month_cont<%= ' current_month' if current %>">
          <span class="month_text"><%= month_name(@month.to_i) %>
            <span class="day_text_current_month"><%= "#{Date.today.day}" if current %></span>
          </span>
          <% current = false %>
          <span class="new_game"><%= pop_up "Add Game", new_game_path(:year => @year, :month => @m) if user_signed_in? %></span>
          <span class="view_month">
            <%= check_box_tag "month_show_all"+@month.to_s, 1, false, :class => @month.to_s, :onclick => "monthShowAll(this, #{@year.to_s}, 0)"  %>
            <%= "Show All" %>
          </span>
          <span class="platforms_month">
            <% p_m = (@platforms_month.rindex(@month) + 1) %>
            Only:
            <span class="platforms">
              <% i = 1; missing_platforms = [] %>
              <% for platform in @platforms_month[p_m] %>
                <% if i < 5 %>
                  <span class="platform">
                    <%= check_box_tag platform.id, 1, false, :class => @month.to_s, :onclick => "monthFilterPlatform(this, #{@year.to_s}, 3)" %>
                    <%= platform.name %>
                  </span>
                  <% i += 1 %>
                <% else %>
                  <% missing_platforms << platform %>
                <% end %>
              <% end %>
            </span>
            <% if not missing_platforms.empty? %>
              <span class="more_platforms"><%= link_to_function("More", "showHide(this)", :class => 'more'+@month.to_s, :onmouseover => "showMorePlatforms(this, $('missing_platforms#{@month.to_i}'));") %></span>
              <span id="missing_platforms<%= @month.to_i.to_s %>" class="missing_platforms" style="display:none">
                <% i = 0 %>
                <table><tr>
                  <% for platform in missing_platforms %>
                    <td><%= check_box_tag platform.id, 1, false, :class => @month.to_s, :onclick => "monthFilterPlatform(this, #{@year.to_s}, 3)" %>
                    <%= platform.name %></td>
                    <% i +=1 %><% if i == 3 %></tr><tr><% i = 0 %><% end %>
                  <% end %></tr>
                </table>
              </span>
            <% end %>
            <span class="platform_extra">
              <%= check_box_tag "month_filter_all"+@month.to_s, 1, false, :class => @month.to_s, :onclick => "monthFilterAll(this, #{@year.to_s}, 3)"  %>
              <%= "All" %>
            </span>
          </span>
          <span id="spinner<%= @month.to_s %>" class="spinner" style="display:none;">
            <img alt="Spinner" src="/images/spinner.gif" />
          </span>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= flash[:notice] %>
  <div class="message">No games have been added yet for this year</div>
  <div id="add_game_button">
    <%= link_to "Add Game", new_game_path(:year => @year, :month => 1), :remote => true %>
  </div>
<% end %>

<%#*<div id="show_view_filters">%>
<%# link_to "View Filters >", "#", :onclick => "Effect.toggle('general_filters', 'slide');" %>
<%#*</div><br />%>

<div id="general_filters">  
  <span class="general_links"><%= link_to 'Go Up', "#top_nav" %><br />
    <br />
<%# link_to "Add Developer", new_developer_path if user_signed_in? %>
    <%= pop_up "Developers list", developers_path %><br />
<%# link_to "Add Publisher", new_publisher_path if user_signed_in? %>
    <%= pop_up "Publishers list", publishers_path %><br />
    <%= pop_up "Recently Added Games", games_recent_path %><br />
    <%= pop_up "All Games list", games_list_path %></span>
  <div id="first_filter_cat">
    <ul id="tabcontrol1">
      <li class="current_show_filter" id="platforms_tab"><%= link_to_function('Platforms', "tabselect1($('platforms_tab')); paneselect1('platforms_general_filters')") %></li>
      <li class="nc_show_filter" id="publishers_tab"><%= link_to_function('Publishers', "tabselect1($('publishers_tab')); paneselect1('publishers_general_filters')") %></li>
      <li class="nc_show_filter" id="developers_tab"><%= link_to_function('Developers', "tabselect1($('developers_tab')); paneselect1('developers_general_filters')") %></li>
    </ul>
  </div>
  <div id="platforms_general_filters">
    <span class="title_top_filter"><%= "Current Year" %></span>
    <span id="spinner<%= @year.to_s %>" class="spinner" style="display:none;"><img alt="Spinner" src="/images/spinner.gif" /></span>
    <span class="check_top_filter"><%= check_box_tag "year_filter_all"+@year.to_s, 1, true, :class => @year.to_s, :onclick => "yearFilterAll(this, 3)" %>All</span>
    <br />
    <% @platforms_year.sort! { |a,b| a.name <=> b.name } %>
    <% for platform in @platforms_year %>
      <%= check_box_tag platform.id, 1, false, :class => @year.to_s, :onclick => "yearFilterPlatform(this, 3)" %>
      <%= platform.name %><br />
    <% end %>
  </div>
  <div id="publishers_general_filters" style="display:none">
    <span class="title_top_filter"><%= "Current Year" %></span>
    <span class="check_top_filter"><%= check_box_tag 'gpublishersall', 1, true  %>All</span>
    <br />
    <% @publishers_year.sort! { |a,b| a.name <=> b.name } %>
    <% for publisher in @publishers_year %>
      <%= check_box_tag 'gpublisher'+publisher.id.to_s, 1, false, :class => @year.to_s, :onclick => "yearFilterPublisher(this)" %>
      <%= publisher.name %><br />
    <% end %>
  </div>
  <div id="developers_general_filters" style="display:none">
    <span class="title_top_filter"><%= "Current Year" %></span>
    <span class="check_top_filter"><%= check_box_tag 'gdevelopersall', 1, true, :class => @year.to_s, :onclick => "yearFilterDeveloper(this)"  %>All</span>
    <br />
    <% @developers_year.sort! { |a,b| a.name <=> b.name } %>
    <% for developer in @developers_year %>
      <%= check_box_tag 'gdeveloper'+developer.id.to_s, 1, false %>
      <%= developer.name %><br />
    <% end %>
  </div>
</div>
