<div id="display_tab">
  <ul>
    <li id="current_first_year_view" class="current first"><a>Year View</a></li>
    <li><a>All-Time</a></li>
    <li class="last"><a>Other View</a></li>
  </ul>
  <% # TODO remove these links from here %>
  <%= link_to "Add Developer", new_developer_path if user_signed_in? %>
  <span style="margin-right: 15px;"><%= pop_up "Developers list", developers_path %></span>
  <%= link_to "Add Publisher", new_publisher_path if user_signed_in? %>
  <span style="margin-right: 15px;"><%= pop_up "Publishers list", publishers_path %></span>
  <%= pop_up "All Games list", games_list_path %>
</div>
<div id="year_display" class="round_bottom">

  <div id="year_text"><%= render 'years' %></div>
  <div id="year_view">
    <%= render 'year_view' %>
  </div>
</div>
<!-- <div id="transparent_new_game" style="display: none;"></div>
<div id="pop_new_game" style="display: none;"></div>
<div id="transparent_dev_pub" style="display: none;"></div>
<div id="pop_dev_pub" style="display: none;"></div> -->
